{% extends "base.html" %}
{% load i18n %}

{% block title %}Sensors{% endblock %}

{% block content %}
<div class="text-center">
    <H1>Sensors</H1>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Activated</th>
        <th>Actions</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.custom_id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.activated }}</td>
        <td>
            <a href="{% url 'MotionSensorServer:remove_sensor' item.id %}"
               onclick="return confirm('Are you sure you wont to delete this sensor?')">Delete</a>
            <a href="{% url 'MotionSensorServer:detections_sensor' item.id %}">Detections</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
