{% extends "base.html" %}
{% load i18n %}

{% block title %}Sensors{% endblock %}

{% block content %}
<div class="text-center">
    <H1>Sensors</H1>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Activated</th>
        <th>Actions</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.custom_id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.activated }}</td>
        <td>
            <a href="{% url 'MotionSensorServer:remove_sensor' item.id %}"
               onclick="return confirm('Are you sure you want to delete this sensor?')">Delete</a>
            <a href="{% url 'MotionSensorServer:detections_sensor' item.id %}">Detections</a>

            {% if item.activated %}
                <a href="{% url 'MotionSensorServer:switch_sensor_state' item.id %}" onclick="return confirm('Are you sure you want to deactivate this sensor?')">Deactivate</a>
            {% else %}
                <a href="{% url 'MotionSensorServer:switch_sensor_state' item.id %}" onclick="return confirm('Are you sure you want to activate this sensor?')">Activate</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
